In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import linear_model
from sklearn.utils import shuffle

In [2]:
data = pd.read_csv("student.csv", sep=";")

In [3]:
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [4]:
data = data[["G1", "G2", "G3", "studytime", "failures", "absences","sex"]]

In [5]:
d = {'F':1,'M':0}
data['sex'] = data['sex'].map(d)

In [6]:
data.head()

   G1  G2  G3  studytime  failures  absences  sex
0   5   6   6          2         0         6    1
1   5   5   6          2         0         4    1
2   7   8  10          2         3        10    1
3  15  14  15          3         0         2    1
4   6  10  10          2         0         4    1

In [7]:
predict = "G3"

X = np.array(data.drop([predict], 1)) # Features
y = np.array(data[predict]) # Labels

/tmp/ipykernel_10844/2762412515.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X = np.array(data.drop([predict], 1)) # Features

In [8]:
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(X, y, test_size = 0.1)

In [9]:
linear = linear_model.LinearRegression()

In [10]:
linear.fit(x_train, y_train)
acc = linear.score(x_test, y_test) # acc is accuracy

In [11]:
acc

0.894255960063077

In [12]:
print('Coefficient: \n', linear.coef_) # These are each slope value
print('Intercept: \n', linear.intercept_) # This is the intercept

Coefficient:
 [ 0.13904065  0.99701424 -0.1735453  -0.25416166  0.03675578 -0.17056879]
Intercept:
 -1.4787119554142993

In [13]:
predictions = linear.predict(x_test) # Gets a list of all predictions

for x in range(len(predictions)):
    print(predictions[x], x_test[x], y_test[x])

15.215020807191463 [15 15  2  0  0  0] 15
-1.1621274224535438 [6 0 2 0 0 1] 0
15.598039860336128 [16 15  3  0 16  1] 15
-1.7195389525745832 [5 0 1 3 0 0] 0
9.936305113164577 [12 10  2  0  8  1] 11
12.845853795330614 [13 13  2  0  2  1] 11
10.33576503803789 [13 10  2  1 22  1] 11
15.093692540253263 [16 15  4  0  7  1] 17
10.81782436834802 [11 11  2  0  4  0] 11
7.56466528910204 [ 7  8  2  0 12  0] 8
12.274447676067973 [12 12  1  0  8  0] 12
6.095053545623527 [8 7 2 0 0 1] 8
13.908397124523033 [14 14  2  0  0  1] 14
7.112534997497866 [ 8  8  4  0 10  1] 8
12.742843557972853 [13 13  4  0  4  0] 12
12.39923316089291 [10 13  4  0  6  0] 13
12.564292296165567 [14 13  4  0  0  1] 14
9.700710919832794 [ 8 10  1  0 12  1] 10
11.765246695155566 [13 12  2  1  2  0] 12
6.903938910501532 [6 8 1 1 0 0] 8
10.81782436834802 [11 11  2  0  4  0] 11
16.285042914975968 [18 16  3  0  0  1] 16
-1.0230867697479349 [7 0 2 0 0 1] 0
19.559172899348667 [19 19  4  0  4  0] 20
7.776496072548417 [7 9 3 0 0 1] 8
10.122117414043906 [ 9 11  3  0  2  1] 11
11.82083802947665 [13 11  3  1 40  1] 11
-0.7105008216254403 [8 0 1 0 0 1] 0
7.97396101828604 [9 9 2 1 0 1] 0
4.0434784482755735 [6 5 2 0 6 1] 6
10.381659015480164 [10 11  4  0 10  1] 11
11.806856136503555 [12 12  2  0  0  0] 11
12.32143706376174 [12 12  2  0 14  0] 12
7.769235033476374 [ 9  8  2  0 10  0] 8
13.816345859511188 [13 14  3  0  6  1] 14
16.49011635012637 [17 16  2  0  0  0] 16
4.511069987839994 [ 6  5  1  0 14  1] 5
11.841360779214831 [11 12  1  0  0  0] 10
14.264995957361533 [15 14  3  0  6  0] 14
11.864804496543238 [11 12  2  0 10  1] 13